.pops { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.3); font-size: 0; text-align: center; z-index: 2;
    .pops_container { display: inline-block; width: 85%; position: relative; background-color: #fff; vertical-align: middle; font-size: 30px; border-radius: q(16);}
    &:after { content: ''; height: 100%; display: inline-block; vertical-align: middle;
    }
}
